<app-header></app-header>

<div class="container-fluid bg" style="background-image: url(assets/bg.jpeg);">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding: 40px;">
            <h1 style="text-align: center; color: white;">User Intro</h1>
            <div style="background-color:lightgreen; padding: 50px;">
            <h3 style="text-align: center;">First Name </h3>
            <p style="text-align: center;"><input type="text" name='user' (keyup)="getValue1($event)"></p>
            <h3 style="text-align: center;">Last Name</h3>
            <p style="text-align: center;"><input type="text" name='user' (keyup)="getValue2($event)"></p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<app-footer></app-footer>